@import '../../style/valiables';

.presentation-info {
  background-color: $background-yellow;
  box-sizing: border-box;
  padding: 15px;
  justify-content: center;

  &__name-info {
    padding: 0 0 50px 0;

    &__cv-text {
      text-align: center;
      font-size: 19px;
    }
  }

  &__contact-info {
    padding: 0 0 15px 0;

    &__info-text {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      padding: 0 20px 15px 20px;
    }

    p {
      margin: 0 0 0 15px;
    }
  }

  h1 {
    font-size: 55px;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0 0 5px 0;
  }
}
